body {
	font-family: 'Work Sans', sans-serif;
	background-image: url("images/fondo.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: white;
}

#titulo {
	margin-top: 300px;
	margin-left: 100px;
	font-weight: 900;
	font-size: 60px;
}